$clr-neutral-100: white;
$clr-neutral-200: rgb(225, 225, 225);
$clr-neutral-300: rgb(200, 200, 200);
$clr-neutral-400: rgb(174, 174, 174);
$clr-neutral-500: rgb(130, 130, 130);
$clr-neutral-600: rgb(100, 100, 100);
$clr-neutral-700: rgb(50, 50, 50);
$clr-neutral-800: rgb(25, 25, 25);
$clr-neutral-900: black;

$clr-primary: rgb(138, 184, 176);
$clr-secondary: rgb(219, 64, 122);

$clr-chroma: rgb(244, 219, 0);

$clr-som-purple: rgb(127, 127, 177);
$clr-som-green: rgb(138, 184, 176);
$clr-som-pink: rgb(219, 64, 122);

$clr-blue: rgb(29, 29, 104);
$clr-blue-lighter: rgb(127, 127, 177);
$clr-blue-intense: rgb(99, 50, 223);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  cursor: none !important;
}

body {
  min-height: 100vh;
  color: $clr-secondary;
  background-color: $clr-primary;
  line-height: 1.6;
  font-size: 15px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

.hidden {
  display: none !important;
}

a {
  color: $clr-blue;
  text-decoration: none;

  transition: 150ms ease-in-out;

  &:hover {
    text-decoration: underline;
    color: $clr-blue-intense;
  }
}

.a-nostyling {
  color: $clr-primary;
  text-decoration: none;

  transition: none;

  &:hover {
    text-decoration: none;
    color: $clr-primary;
  }
}
.a-nostyling--2 {
  color: $clr-secondary;
  text-decoration: none;

  transition: none;

  &:hover {
    text-decoration: none;
    color: $clr-secondary;
  }
}

.mobile_header {
  display: none;
}

@media (max-width: 800px) {
  .mobile_header {
    display: block;
    margin-left: 2em;
    margin-top: 1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;

    p {
      height: fit-content;
    }
  }
}
